<a href="https://colab.research.google.com/github/mars241/WebScraping/blob/main/AAM_WCS__Parse_a_JSON_file_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üí™Challenge

Dans un nouveau notebook, ex√©cute le code ci-dessous :

import json

import requests

link = "https://raw.githubusercontent.com/WildCodeSchool/java-jsonparse/master/weather.json"

'# This function gets the file content from the URL

r = requests.get(link)

'# You can access to the text content with this function

r.text

data = json.loads( r.text)


1. Affiche la valeur de l'attribut name

2. Affiche les valeurs des attributs lat et lon de l'√©l√©ment coord contenu dans la racine

3. Parcours tous les √©l√©ments dans weather et affiche le contenu de main (peut-√™tre avec une boucle ?)

Voici le r√©sultat attendu de ces 3 premi√®res questions :

* City name: London
* City latitude: 51.51
* City longitude: -0.13
* Weather: Drizzle
* Weather: Clear


4. Essaye maintenant d'importer ton fichier json dans pandas :

'# You can directly read JSON from your request object

print(r.json())

'# And you can import JSON object to pandas

pd.json_normalize(r.json())


Tu obtiens un DataFrame avec une seule ligne ? C'est normal, notre fichier JSON contient un premier niveau "weather". Nous allons indiquer √† Pandas de descendre au niveau inf√©rieur (ici dans l'enregistrement weather). Pour cela, nous utilisons le param√®tre record_path. Nous pouvons aussi utiliser le param√®tre meta pour indiquer de conserver des √©l√©ments d'un niveau sup√©rieur:

pd.json_normalize(r.json(),  
                  record_path= "weather",
                  meta = 'dt')


5. Filtre maintenant ton DataFrame avec Pandas pour afficher uniquement les colonnes suivantes : main (celui qui est √† l'int√©rieur de weather), name, and visibility.


#Crit√®res de validation
Le fichier li√© est disponible et lisible
Toutes les missions sont r√©alis√©es

In [ ]:
import json
import requests

link = "https://raw.githubusercontent.com/WildCodeSchool/java-jsonparse/master/weather.json"

# Cette fonction r√©cup√®re le contenu du fichier √† partir de l'URL
r = requests.get(link)

# Vous pouvez acc√©der au contenu du texte avec cette fonction
r.text

data = json.loads( r.text)

In [ ]:
# Affichons la data :
data

{'coord': {'lon': -0.13, 'lat': 51.51},
 'weather': [{'id': 300,
   'main': 'Drizzle',
   'description': 'light intensity drizzle',
   'icon': '09d'},
  {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 280.32,
  'pressure': 1012,
  'humidity': 81,
  'temp_min': 279.15,
  'temp_max': 281.15},
 'visibility': 10000,
 'wind': {'speed': 4.1, 'deg': 80},
 'clouds': {'all': 90},
 'dt': 1485789600,
 'sys': {'type': 1,
  'id': 5091,
  'message': 0.0103,
  'country': 'GB',
  'sunrise': 1485762037,
  'sunset': 1485794875},
 'id': 2643743,
 'name': 'London',
 'cod': 200}

1-Affiche la valeur de l'attribut name

In [ ]:
nom_2_ville = data['name'] # Nommons et affectons l'information √† extraire!
print(f'Nom de la ville: {nom_2_ville}') # affichons √† l'aide du format " print (f'msg_√†_afficher {nom_donn√©_√†_la_variable}) "

Nom de la ville: London

2-Affiche les valeurs des attributs lat et lon de l'√©l√©ment coord contenu dans la racine

In [ ]:
longitude = data['coord']['lon'] # synthaxe pour acc√®der √† la valeur de la "long" & "lat" (ici dictionnaire de dictionnaire)
latitude = data['coord']['lat']

print(f'Coordonn√©e latitude: {longitude}')
print(f'Coordonn√©e longitude: {latitude}')

Coordonn√©e latitude: -0.13
Coordonn√©e longitude: 51.51

3-Parcours tous les √©l√©ments dans weather et affiche le contenu de main (peut-√™tre avec une boucle ?)

In [ ]:
#Affichons le 'root' weather
data['weather']

[{'id': 300,
  'main': 'Drizzle',
  'description': 'light intensity drizzle',
  'icon': '09d'},
 {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]

In [ ]:
for elmts_weather in data['weather']:
  print("les √©l√©ments de valeurs 'main' de 'Weather' sont :",'\n',  elmts_weather['main'])

les √©l√©ments de valeurs 'main' de 'Weather' sont :
 Drizzle
les √©l√©ments de valeurs 'main' de 'Weather' sont :
 Clear

4-Essaye maintenant d'importer ton fichier json dans pandas :

In [ ]:
import pandas as pd

# Vous pouvez lire directement JSON √† partir de votre objet de requ√™te
print(r.json())

# Et vous pouvez importer un objet JSON dans pandas
data_in_pandas_level1 = pd.json_normalize(r.json())


# Affichons la datafram √† l'aide de pandas
data_in_pandas_level1


#On obtient un DataFrame avec une seule ligne ! C'est normal, notre fichier JSON contient un premier niveau "weather".
#Nous allons indiquer √† Pandas de descendre au niveau inf√©rieur (ici dans l'enregistrement weather).

{'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 300, 'main': 'Drizzle', 'description': 'light intensity drizzle', 'icon': '09d'}, {'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 280.32, 'pressure': 1012, 'humidity': 81, 'temp_min': 279.15, 'temp_max': 281.15}, 'visibility': 10000, 'wind': {'speed': 4.1, 'deg': 80}, 'clouds': {'all': 90}, 'dt': 1485789600, 'sys': {'type': 1, 'id': 5091, 'message': 0.0103, 'country': 'GB', 'sunrise': 1485762037, 'sunset': 1485794875}, 'id': 2643743, 'name': 'London', 'cod': 200}

,weather,base,visibility,dt,id,...,sys.id,sys.message,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 300, 'main': 'Drizzle', 'description':...",stations,10000,1485789600,2643743,...,5091,0.0103,GB,1485762037,1485794875

In [ ]:
# Pour descendre au niveau inf√©rieur (ici dans l'enregistrement weather).
# Nous utilisons le param√®tre record_path. Nous pouvons aussi utiliser le param√®tre meta pour indiquer de conserver des √©l√©ments d'un niveau sup√©rieur:

data_in_pandas_level2 = pd.json_normalize(r.json(),
                  record_path= "weather",
                  meta = ['name','visibility'])

# Affichons la datafram √† l'aide de pandas
data_in_pandas_level2

    id     main              description icon    name visibility
0  300  Drizzle  light intensity drizzle  09d  London      10000
1  800    Clear                clear sky  01n  London      10000

5-Filtre maintenant ton DataFrame avec Pandas pour afficher uniquement les colonnes suivantes :

main (celui qui est √† l'int√©rieur de weather), name, and visibility.

In [ ]:
# Pour acc√®der aux colonnes cibles on fait l'utilisation de la sythaxe : "data[[colonne1 , colonne2]]"
data_in_pandas_level2[['main','name','visibility']]

      main    name visibility
0  Drizzle  London      10000
1    Clear  London      10000